Repository MakeContributions/DSA, pull requests merged in 2021-10, with the labels that each got.

#490 chore(C): add glued doubly linked-list
  algorithms/C/README.md
  algorithms/C/linked-lists/gl-threads.c
Labels: C

#503 docs(en): added linear-search
  docs/en/README.md
  docs/en/Searching/Linear-Search.md
Labels: documentation

#499 chore(CPlusPlus): added math factorial
  algorithms/CPlusPlus/Maths/factorial.cpp
  algorithms/CPlusPlus/Maths/missing-number.cpp
  algorithms/CPlusPlus/README.md
Labels: C++

#507 refact(CSharp): rename from PrimeGenerator to GeneratePrimeNumbers
  algorithms/CSharp/src/Number-Theory/sieve-of-eratosthenes.cs
  algorithms/CSharp/test/Number-Theory/sieve-of-eratosthenes.cs
Labels: enhancement, C#

#508 chore(CPlusPlus): added search insert position
  algorithms/CPlusPlus/Arrays/search-insert-position.cpp
  algorithms/CPlusPlus/README.md
Labels: C++

#516 enh(JavaScript): add getByIndex and insertAfterByIndex on singly linked list
  algorithms/JavaScript/src/linked-lists/singly.js
Labels: JavaScript

#517 chore(CPlusPlus): display longest name
  algorithms/CPlusPlus/README.md
  algorithms/CPlusPlus/Strings/longest-name.cpp
Labels: C++, hacktoberfest-accepted

#522 chore(Java): added interpolation search
  algorithms/Java/README.md
  algorithms/Java/searching/interpolation-search.java
Labels: Java, hacktoberfest-accepted

#500 chore(CPlusPlus): add program to find prime number
  algorithms/CPlusPlus/Maths/prime-number.cpp
  algorithms/CPlusPlus/README.md
Labels: C++, hacktoberfest-accepted, hacktoberfest

#625 chore(CPlusPlus): add dijkstra graphs
  algorithms/CPlusPlus/Graphs/dijkstra.cpp
  algorithms/CPlusPlus/README.md
Labels: C++, hacktoberfest-accepted, hacktoberfest
