Repository MakeContributions/DSA, pull requests merged in 2021-03, with the labels that each got.

#92 fix: numbering in linked-list index
  linked-lists/README.md
Labels: documentation

#94 Added Linear, Binary Search in Go
  searching/README.md
  searching/go/binary-search.go
  searching/go/linear-search.go
Labels: Go

#85 Add 3way quick sort for c++
  sorting/README.md
  sorting/c-or-cpp/3way_quick_sort.cpp
Labels: C++

#96 Add Palindrome Check Algorithm in Python (Idiomatic Python)
  strings/README.md
  strings/python/palindrome.py
Labels: python

#93 Added shift-negatives algo in Cpp
  arrays/README.md
  arrays/c-or-cpp/shift-negatives.cpp
Labels: C++

#100 Queue linked-list Added
  queues/README.md
  queues/c-or-cpp/queue-linked-list.cpp
Labels: C++, enhancement

#102 Interval Scheduling, Quick Sort, Insertion Sort in Go
  scheduling/README.md
  scheduling/go/interval-scheduling.go
  sorting/README.md
  sorting/go/insertion-sort.go
  sorting/go/quick-sort.go
Labels: Go

#104 Adding the circular queue
  queues/README.md
  queues/c-or-cpp/circular-queue-linked-list.cpp
Labels: C++, enhancement

#109 rust-> palindrome program, enforces specification in #108
  strings/README.md
  strings/rust/palindrome/.gitignore
  strings/rust/palindrome/Cargo.lock
  strings/rust/palindrome/Cargo.toml
  strings/rust/palindrome/README.md
  strings/rust/palindrome/src/main.rs
Labels: enhancement

#111 #108 - update contribution README
  README.md
Labels: documentation

#115 added bellman-ford
  graphs/README.md
  graphs/c-or-cpp/bellman-ford.cpp
Labels: C++

#116 Add singly linked lists for python
  linked-lists/Python/singly.py
  linked-lists/README.md
Labels: python

#113 Create string-reverse.cpp
  strings/README.md
  strings/c-or-cpp/string-reverse.cpp
Labels: C++

#119 Python linkedlist
  linked-lists/Python/doubly.py
  linked-lists/README.md
Labels: python

#117 bubble-sort.go added
  sorting/README.md
  sorting/go/bubble-sort.go
Labels: Go

#121 Add Haskell subSequences
  strings/README.md
  strings/haskell/sequence.hs
Labels: Haskell

#123 Permutation of String
  strings/README.md
  strings/c-or-cpp/Permutation-of-String.c
Labels: C

#124 Add Counting Sort - java
  sorting/README.md
  sorting/java/counting-sort.java
Labels: Java
