Repository MakeContributions/DSA, pull requests merged in 2021-12, with the labels that each got.

#639 chore(JavaScript): add stack and queue implementation
  algorithms/JavaScript/README.md
  algorithms/JavaScript/src/index.js
  algorithms/JavaScript/src/queues/queue.js
  algorithms/JavaScript/src/stacks/stack.js
  algorithms/JavaScript/src/stacks/two-stack.js
Labels: JavaScript

#644 chore(C): add breadth-first search and depth-first search
  algorithms/C/README.md
  algorithms/C/graphs/breadth-first-search.c
  algorithms/C/graphs/depth-first-search.c
Labels: C

#647 fix(Javascript): bubble sort
  algorithms/JavaScript/src/sorting/bubble-sort.js
Labels: JavaScript

#645 enh(JavaScript): binary-search
  algorithms/JavaScript/src/searching/binary-search-recursive.js
  algorithms/JavaScript/src/searching/binary-search.js
Labels: enhancement, JavaScript

#649 chore(CPlusPlus): add stock span problem
  algorithms/CPlusPlus/README.md
  algorithms/CPlusPlus/Stacks/stock-span-problem.cpp
Labels: C++

#652 chore(C): add quick sort
  algorithms/C/README.md
  algorithms/C/sorting/quick-sort.c
Labels: C

#656 chore(Python): add two sum for Dictionaries
  algorithms/Python/README.md
  algorithms/Python/dictionaries/two-sum.py
Labels: Python
