Repository MakeContributions/DSA, pull requests merged in 2021-09, with the labels that each got.

#441 chore: add C++ permutation and add Go contains duplicate
  algorithms/C/README.md
  algorithms/CPlusPlus/README.md
  algorithms/CPlusPlus/Recursion/permutation.cpp
  algorithms/Go/README.md
  algorithms/Go/arrays/contains_duplicate.go
  algorithms/Go/arrays/majority_element.go
  algorithms/Go/recursion/fibonacci.go
  algorithms/Go/searching/rotated-array-search.go
Labels: C++, Go

#437 chore(CSharp): added algorithm to determine factorial
  algorithms/CSharp/README.md
  algorithms/CSharp/src/Recursion/factorial.cs
  algorithms/CSharp/test/Recursion/factorial.cs
Labels: C#

#444 chore(CPlusPlus): add leaders in arrays
  algorithms/CPlusPlus/Arrays/leaders-in-array.cpp
  algorithms/CPlusPlus/README.md
Labels: C++

#447 chore(CSharp): add Depth First Search
  algorithms/CSharp/README.md
  algorithms/CSharp/src/Graph/depth-first-search.cs
  algorithms/CSharp/test/Graph/depth-first-search.cs
Labels: C#

#440 chore(CPlusPlus): add cycle-sort
  algorithms/CPlusPlus/README.md
  algorithms/CPlusPlus/Sorting/cycle-sort.cpp
Labels: C++

#448 chore(CSharp): add implementation of queue using two stacks
  algorithms/CSharp/README.md
  algorithms/CSharp/src/Queues/queue-implementation-using-two-stacks.cs
  algorithms/CSharp/test/Queues/queue-implementation-using-two-stacks.cs
Labels: C#

#442 chore(Java): add cyclic sort algo
  algorithms/Java/README.md
  algorithms/Java/sorting/cyclic-sort.java
Labels: Java

#452 chore(CPlusPlus): add segregate-even-odd-nodes-of-linked list
  algorithms/CPlusPlus/Linked-Lists/segregate-even-odd-nodes-of-linked-list.cpp
  algorithms/CPlusPlus/README.md
Labels: C++

#451 chore(Python): added to recursion n-th_fibonacci_number
  algorithms/Python/README.md
  algorithms/Python/recursion/n-th_fibonacci_number.py
Labels: Python

#453 chore(CPlusPlus): add remove-duplicates-in-sorted-linked-list
  algorithms/CPlusPlus/Linked-Lists/remove-duplicates-in-sorted-linked-list.cpp
  algorithms/CPlusPlus/README.md
Labels: C++

#402 chore(CPlusPlus): adding recursion programs
  algorithms/CPlusPlus/README.md
  algorithms/CPlusPlus/Recursion/GCD-of-two-numbers.cpp
  algorithms/CPlusPlus/Recursion/Sum-of-all-elements-in-an-array.cpp
  algorithms/CPlusPlus/Recursion/decimal-to-binary-conversion.cpp
  algorithms/CPlusPlus/Recursion/sum-of-digits-of-an-integer.cpp
Labels: C++

#457 chore(Python): added Recursive Insertion Sort
  algorithms/Python/README.md
  algorithms/Python/recursion/recursive_insertion_sort.py
Labels: Python

#454 chore(Go): added Palindrome and Single Number
  algorithms/Go/README.md
  algorithms/Go/arrays/single-number.go
  algorithms/Go/strings/palindrome-permutation.go
Labels: Go

#458 chore(CPlusPlus): Add Edit Distance
  algorithms/CPlusPlus/Dynamic-Programming/edit-distance.cpp
  algorithms/CPlusPlus/README.md
Labels: C++

#462 chore(CPlusPlus): add binary tree implementation
  algorithms/CPlusPlus/README.md
  algorithms/CPlusPlus/Trees/binary-tree-implementation.cpp
Labels: C++

#463 chore(CPlusPlus): add linked list implementation
  algorithms/CPlusPlus/Linked-Lists/singly.cpp
Labels: C++

#470 chore(CSharp): Added counting sort
  algorithms/CSharp/README.md
  algorithms/CSharp/src/Sorts/counting-sort.cs
  algorithms/CSharp/test/Sorts/counting-sort.cs
Labels: C#

#456 chore(C): add doubly linked list
  algorithms/C/README.md
  algorithms/C/linked-lists/doubly-linked-list.c
Labels: C

#428 chore(Python): added is unique character algorithm
  .gitignore
  algorithms/Python/README.md
  algorithms/Python/strings/unique_character.py
Labels: Python

#468 chore(CPlusPlus): added Huffman
  algorithms/CPlusPlus/Trees/huffmanCode/README.md
  algorithms/CPlusPlus/Trees/huffmanCode/huffman.cpp
  algorithms/CPlusPlus/Trees/huffmanCode/huffman.h
  algorithms/CPlusPlus/Trees/huffmanCode/main.cpp
  algorithms/CPlusPlus/Trees/huffmanCode/results/data-sample.txt
Labels: C++

#471 docs: add heap sort
  docs/en/README.md
  docs/en/Sorting/Heap-Sort.md
Labels: documentation

#475 chore(CPlusPlus): add remove occurence of characters of 2nd string from the 1st string
  algorithms/CPlusPlus/README.md
  algorithms/CPlusPlus/Strings/remove-occurrences.cpp
Labels: C++

#464 chore(CPlusPlus): add maximum difference
  algorithms/CPlusPlus/Arrays/maximum-difference.cpp
  algorithms/CPlusPlus/README.md
Labels: C++

#477 chore(CPlusPlus): add elements appear thrice
  algorithms/CPlusPlus/Arrays/Elements_appears_thrice.cpp
  algorithms/CPlusPlus/README.md
Labels: C++

#472 docs: add quick sort
  docs/en/README.md
  docs/en/Sorting/Quick-Sort.md
Labels: documentation

#455 chore(CPlusPlus): add armstrong
  algorithms/CPlusPlus/Maths/armstrong.cpp
  algorithms/CPlusPlus/README.md
Labels: C++

#479 chore(CPlusPlus): added new array program
  algorithms/CPlusPlus/Arrays/occurence-of-one-in-sorted-array.cpp
  algorithms/CPlusPlus/README.md
Labels: C++

#480 chore(CPlusPlus): delete alternate characters in a string
  algorithms/CPlusPlus/README.md
  algorithms/CPlusPlus/Strings/delete-alternate-characters.cpp
  algorithms/CPlusPlus/Strings/print-first-letter.cpp
Labels: C++

#485 chore(CSharp): added kruskals algorithm
  algorithms/CSharp/README.md
  algorithms/CSharp/src/Graph/kruskals-algorithm.cs
  algorithms/CSharp/test/Graph/kruskals-algortihm.cs
Labels: C#

#484 chore(CSharp): added merge sort
  algorithms/CSharp/README.md
  algorithms/CSharp/src/Sorts/merge-sort.cs
  algorithms/CSharp/test/Sorts/merge-sort.cs
  docs/en/Sorting/Merge-Sort.md
Labels: documentation, C#

#487 chore(Python): added reverse linked list
  algorithms/Python/README.md
  algorithms/Python/linked_lists/reverse-linkedlist.py
Labels: Python

#488 chore(CSharp): added single number determination
  algorithms/CSharp/README.md
  algorithms/CSharp/src/Arrays/single-number.cs
  algorithms/CSharp/test/Arrays/single-number.cs
Labels: C#

#489 chore(CSharp): Implemented Dijkstras Algorithm to Find the Shortest Path
  algorithms/CSharp/README.md
  algorithms/CSharp/src/Algorithms.csproj
  algorithms/CSharp/src/Graph/dijkstra.cs
  algorithms/CSharp/test/Graph/dijkstra.cs
Labels: C#

#492 chore(CPlusPlus): add reverse digits
  algorithms/CPlusPlus/Maths/reverse-digits.cpp
  algorithms/CPlusPlus/README.md
Labels: C++

#493 enh(single-link-list): added insert at the end method
  algorithms/JavaScript/src/linked-lists/singly.js
Labels: JavaScript

#483 chore(CPlusPlus): add palindrome
  algorithms/CPlusPlus/Maths/palindrome.cpp
  algorithms/CPlusPlus/README.md
  docs/en/Strings/Palindrome.md
  docs/ja/Strings/Palindrome.md
  docs/zh-tw/Strings/Palindrome.md
Labels: documentation, C++

#494 chore(Python): added binary search tree
  algorithms/Python/README.md
  algorithms/Python/trees/binary-search-tree.py
Labels: Python

#449 chore(CPlusPlus): add binomial coefficient
  algorithms/CPlusPlus/Maths/binomial-coefficient.cpp
  algorithms/CPlusPlus/README.md
Labels: C++

#498 chore(CSharp): Added Big Mod Algorithm
  algorithms/CSharp/README.md
  algorithms/CSharp/src/Number-Theory/big-mod.cs
  algorithms/CSharp/test/Number-Theory/big-mod.cs
Labels: C#
