Repository MakeContributions/DSA, pull requests merged in 2021-04, with the labels that each got.

#125 Doubly linked list java
  linked-lists/README.md
  linked-lists/java/doubly.java
Labels: Java

#129 Multi-Leve Queue Scheduling Algorithm
  scheduling/README.md
  scheduling/java/multi-level-queue-scheduling.java
Labels: Java, enhancement

#127 Adding interpolation search algorithm
  searching/README.md
  searching/c-or-cpp/interpolation-search.cpp
Labels: C++

#114 Create-sqrt-monotonic-binary-search.cpp
  searching/README.md
  searching/c-or-cpp/sqrt-monotonic-binary-search.cpp
Labels: C++

#131 Added max subarray sum in Cpp
  arrays/README.md
  arrays/c-or-cpp/max-subarray-sum.cpp
Labels: C++

#126 Added Double ended queue
  queues/README.md
  queues/c-or-cpp/double-ended-queue-using-array.c
Labels: C

#134 Add circular linked list java
  linked-lists/README.md
  linked-lists/java/circular.java
Labels: Java, enhancement

#133 New scheduling algorithm [Round Robin]
  scheduling/README.md
  scheduling/java/round-robin.java
Labels: Java, enhancement

#135 Added Time Complexity and remove single comment into multi comment
  strings/c-or-cpp/Permutation-of-String.c
Labels: C, enhancement

#140 Prim's Algorithm in c
  graphs/README.md
  graphs/c-or-cpp/Prim's-algorithm.c
Labels: C, enhancement

#144 Added 3 basic traversals in Binary Trees
  trees/README.md
  trees/c-or-cpp/pre-in-post-traversal.cpp
Labels: C++

#146 Update README.md
  README.md
Labels: documentation, enhancement

#149 Kadane's Algorithm
  arrays/README.md
  arrays/java/Kadanes_Algorithm.java
Labels: Java, enhancement

#154 Typo fix patch
  README.md
  graphs/c-or-cpp/bellman-ford.cpp
  linked-lists/c-or-cpp/Insert-and-delete-beginning.c
  searching/c-or-cpp/linear-search.cpp
  sorting/c-or-cpp/bubble-sort.cpp
  sorting/java/counting-sort.java
  sorting/java/merge-sort.java
  sorting/java/quick-sort.java
  stacks/README.md
  stacks/c-or-cpp/balanced-parenthesis.cpp
  strings/c-or-cpp/string-tokeniser.cpp
  strings/js/palindrome.js
Labels: documentation

#153 Added level order traversal in Binary trees
  trees/README.md
  trees/c-or-cpp/level-order-traversal.cpp
Labels: C++

#151 GitHub Action to lint Python code
  .github/workflows/lint_python.yml
  linked-lists/c-or-cpp/Insert-and-delete-beginning.c
  sorting/python/bubble-sort.py
Labels: enhancement, python

#156 GitHub Action to lint C and C++ code
  .github/workflows/cpplint.yml
  linked-lists/c-or-cpp/doubly.cpp
  multiplication/c-or-cpp/karatsuba.cpp
  strings/c-or-cpp/string-tokeniser.cpp
Labels: C, C++

#155 add arrays left rotation in java
  arrays/README.md
  arrays/java/left_rotation.java
Labels: Java

#161 Add Python doctests to karatsuba.py
  multiplication/python/karatsuba.py
Labels: python

#168 DoublyLinkedList.__iter__()
  linked-lists/Python/doubly.py
Labels: python

#167 Add Python doctest to selection_sort.py
  sorting/python/selection-sort.py
Labels: python

#164 Use Pythonic item access
  sorting/python/bubble-sort.py
Labels: python

#159 Add Python doctests to count-inversions.py
  arrays/python/count-inversions.py
Labels: python

#163 Self-documenting variable names make comment unnecessary
  strings/python/palindrome.py
Labels: python

#166 Add Python doctests to quicksort.py
  sorting/python/quick-sort.py
Labels: python

#165 Add Python doctest to insertion-sort.py
  sorting/python/insertion-sort.py
Labels: python

#162 Add Python doctest to interval-scheduling.py
  scheduling/python/interval-scheduling.py
Labels: python

#160 Added build Binary Tree function in Cpp
  trees/README.md
  trees/c-or-cpp/build-binary-tree.cpp
Labels: C++

#174 added stack implementation and some standard problems on stacks in java
  stacks/README.md
  stacks/java/balanced-paranthesis.java
  stacks/java/stack.java
  stacks/java/the-stock-span-problem.java
Labels: Java, enhancement

#181 chore: add ignore word
  .github/workflows/lint_python.yml
Labels: enhancement

#182 Add reverse linked list in java
  linked-lists/README.md
  linked-lists/java/reverse.java
Labels: Java

#143 Added program in c for printing unique elements in an array
  arrays/README.md
  arrays/c-or-cpp/unique-elements-in-an-array.c
Labels: C

#178 Add trees pre in post traversal java
  trees/README.md
  trees/java/pre_in_post_traversal.java
Labels: Java

#190 Add Python doctests to singly linked list
  linked-lists/Python/singly.py
Labels: python

#185 Total number of words in a sentence
  strings/README.md
  strings/c-or-cpp/count-words.c
Labels: C

#194 Python: Total number of words in a sentence
  strings/python/word_count.py
Labels: python

#192 Added functionality to merge two singly linked list
  linked-lists/README.md
  linked-lists/c-or-cpp/merge.cpp
Labels: C++

#186 Add binary search tree for C++
  trees/README.md
  trees/c-or-cpp/count-and-sum-of-nodes-in-binary-tree.cpp
Labels: C++

#196 Added string subsequence in JS
  strings/README.md
  strings/js/sequence.js
Labels: JavaScript

#208 Fix typo
  algorithms/CSharp/README.md
Labels: documentation, enhancement

#210 Create is_good_str.py
  algorithms/Python/README.md
  algorithms/Python/strings/is_good_str.py
Labels: Python

#209 Move codespell to a separate GitHub Action
  .github/workflows/codespell.yml
  .github/workflows/python.yml
Labels: Python

#195 Add Python doctest to linear search
  algorithms/Python/searching/linear_search.py
Labels: Python

#170 Add Python doctests to doubly linked list
  algorithms/Python/linked_lists/doubly.py
Labels: Python

#193 Add Python doctests to binary search
  algorithms/Python/searching/binary_search.py
Labels: Python

#200 added java algorithms
  arrays/README.md
  arrays/c-or-cpp/array.cpp
  arrays/c-or-cpp/data-before-sort.cpp
  arrays/c-or-cpp/division.cpp
  arrays/c-or-cpp/even-and-odd.c
  arrays/c-or-cpp/finding-large-number.cpp
  arrays/c-or-cpp/variable-declaration.cpp
  arrays/java/unique-digits-of-large-number.java
  sorting/README.md
  sorting/java/bubble-sort.java
  sorting/java/heap-sort.java
  sorting/java/insertion-sort.java
  sorting/java/selection-sort.java
Labels: C, C++, Java

#218 Queues in Java
  queues/README.md
  queues/java/circular-queue-linked-list.java
  queues/java/queue-linked-list.java
Labels: Java

#220 Algorithms Documentation [Java]
  algorithms/Java/README.md
  algorithms/Java/arrays/Kadanes_Algorithm.java
  algorithms/Java/arrays/count-inversions.java
  algorithms/Java/arrays/left_rotation.java
  algorithms/Java/arrays/unique-digits-of-large-number.java
  algorithms/Java/graphs/Dijkstras.java
  algorithms/Java/linked-lists/circular.java
  algorithms/Java/linked-lists/clone-linkedlist-with-rnd-pointer.java
  algorithms/Java/linked-lists/doubly.java
  algorithms/Java/linked-lists/reverse.java
  algorithms/Java/linked-lists/singly.java
  algorithms/Java/queues/circular-queue-linked-list.java
  algorithms/Java/queues/queue-linked-list.java
  algorithms/Java/scheduling/multi-level-queue-scheduling.java
  algorithms/Java/scheduling/round-robin.java
  algorithms/Java/searching/binary-search.java
  algorithms/Java/searching/jump-search.java
  algorithms/Java/searching/linear-search.java
  algorithms/Java/sorting/bubble-sort.java
  algorithms/Java/sorting/counting-sort.java
  algorithms/Java/sorting/heap-sort.java
  algorithms/Java/sorting/insertion-sort.java
  algorithms/Java/sorting/merge-sort.java
  algorithms/Java/sorting/quick-sort.java
  algorithms/Java/sorting/selection-sort.java
  algorithms/Java/stacks/balanced-paranthesis.java
  algorithms/Java/stacks/stack.java
  algorithms/Java/stacks/the-stock-span-problem.java
  algorithms/Java/strings/SplitString.java
  algorithms/Java/strings/kmp.java
  algorithms/Java/strings/palindrome.java
  algorithms/Java/strings/rabin-karp.java
  algorithms/Java/strings/sequence.java
  algorithms/Java/strings/tokenizer.java
  algorithms/Java/trees/pre_in_post_traversal.java
Labels: Java, documentation, enhancement

#226 Migrate C++ codes to new directory structure
  algorithms/CPlusPlus/Arrays/count-inversions.cpp
  algorithms/CPlusPlus/Arrays/dutch-flag-algo.cpp
  algorithms/CPlusPlus/Arrays/left-rotation.cpp
  algorithms/CPlusPlus/Arrays/max-subarray-sum.cpp
  algorithms/CPlusPlus/Arrays/shift-negatives.cpp
  algorithms/CPlusPlus/Graphs/bellman-ford.cpp
  algorithms/CPlusPlus/Graphs/kruskal-algorithm.cpp
  algorithms/CPlusPlus/Linked-Lists/all-possible-insertion.cpp
  algorithms/CPlusPlus/Linked-Lists/circular.cpp
  algorithms/CPlusPlus/Linked-Lists/doubly.cpp
  algorithms/CPlusPlus/Linked-Lists/merge.cpp
  algorithms/CPlusPlus/Linked-Lists/reverse.cpp
  algorithms/CPlusPlus/Linked-Lists/singly.cpp
  algorithms/CPlusPlus/Multiplication/karatsuba.cpp
  algorithms/CPlusPlus/Queues/circular-queue-linked-list.cpp
  algorithms/CPlusPlus/Queues/queue-linked-list.cpp
  algorithms/CPlusPlus/README.md
  algorithms/CPlusPlus/Searching/binary-search.cpp
  algorithms/CPlusPlus/Searching/interpolation-search.cpp
  algorithms/CPlusPlus/Searching/jump-search.cpp
  algorithms/CPlusPlus/Searching/linear-search.cpp
  algorithms/CPlusPlus/Searching/sqrt-monotonic-binary-search.cpp
  algorithms/CPlusPlus/Sorting/3way_quick_sort.cpp
  algorithms/CPlusPlus/Sorting/bubble-sort.cpp
  algorithms/CPlusPlus/Sorting/bucket-sort.cpp
  algorithms/CPlusPlus/Sorting/comb-sort.cpp
  algorithms/CPlusPlus/Sorting/counting-sort.cpp
  algorithms/CPlusPlus/Sorting/heap-sort.cpp
  algorithms/CPlusPlus/Sorting/insertion-sort.cpp
  algorithms/CPlusPlus/Sorting/quick-sort.cpp
  algorithms/CPlusPlus/Sorting/radix-sort.cpp
  algorithms/CPlusPlus/Sorting/selection-sort.cpp
  algorithms/CPlusPlus/Sorting/shell-sort.cpp
  algorithms/CPlusPlus/Stacks/balanced-parenthesis.cpp
  algorithms/CPlusPlus/Strings/rabin-karp.cpp
  algorithms/CPlusPlus/Strings/sequence.cpp
  algorithms/CPlusPlus/Strings/string-reverse.cpp
  algorithms/CPlusPlus/Strings/string-tokeniser.cpp
  algorithms/CPlusPlus/Trees/build-binary-tree.cpp
  algorithms/CPlusPlus/Trees/count-and-sum-of-nodes-in-binary-tree.cpp
  algorithms/CPlusPlus/Trees/level-order-traversal.cpp
  algorithms/CPlusPlus/Trees/pre-in-post-traversal.cpp
  arrays/c-or-cpp/array.cpp
  arrays/c-or-cpp/data-before-sort.cpp
  arrays/c-or-cpp/division.cpp
  arrays/c-or-cpp/finding-large-number.cpp
  arrays/c-or-cpp/variable-declaration.cpp
Labels: C++

#215 Go refactoring
  .github/workflows/go.yml
  algorithms/Go/README.md
  algorithms/Go/scheduling/interval-scheduling.go
  algorithms/Go/searching/binary-search.go
  algorithms/Go/searching/linear-search.go
  algorithms/Go/sorting/bubble-sort.go
  algorithms/Go/sorting/insertion-sort.go
  algorithms/Go/sorting/quicksort.go
  scheduling/README.md
  searching/README.md
  searching/go/binary-search.go
  sorting/README.md
  sorting/go/bubble-sort.go
Labels: Go

#231 Palindrome.md: Add a step to clean the string
  docs/en/Strings/Palindrome.md
Labels: documentation

#235 Added Insertion Sort in c
  algorithms/C/README.md
  algorithms/C/sorting/insertion-sort.c
Labels: C

#234 fix: go test failing
  .github/workflows/go.yml
Labels: Go, bug

#250 Create BUG REPORT issue template
  .github/ISSUE_TEMPLATE/bug_report.md
Labels: enhancement

#247 Kaprekar number
  algorithms/CPlusPlus/Maths/Kaprekar-number.cpp
  algorithms/CPlusPlus/README.md
Labels: C++

#252 Allocate minimum number of pages
  algorithms/Java/README.md
  algorithms/Java/searching/allocate-min-pages.java
Labels: Java

#259 Create pull request template
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: enhancement

#257 added binary search.c
  algorithms/C/README.md
  algorithms/C/searching/Binary-search.c
Labels: C

#256 cleaning string before word count + added doctests
  algorithms/Python/strings/word_count.py
Labels: Python

#255 add doctest for jump_search.py
  algorithms/Python/searching/jump_search.py
Labels: Python

#246 Create Merge Sort Documentation
  docs/en/README.md
  docs/en/Sorting/Merge-Sort.md
Labels: C, Java, documentation, enhancement

#244 chore(Python): add comb_sort
  algorithms/Python/README.md
  algorithms/Python/sorting/comb_sort.py
Labels: Python

#239 chore(C): min & max value of the tree
  algorithms/C/README.md
  algorithms/C/tree/height-of-a-tree.c
  algorithms/C/tree/min-and-max-of-tree.c
Labels: C

#262 chore(Java): add shell sort
  algorithms/Java/README.md
  algorithms/Java/sorting/shell-sort.java
Labels: Java

#272 fix(linter): merge sort JavaScript
  algorithms/JavaScript/src/sorting/merge-sort.js
Labels: JavaScript

#268 chore: add moore voting algo
  algorithms/CPlusPlus/Arrays/boyer_more.cpp
  algorithms/CPlusPlus/README.md
Labels: C++

#270 chore(JavaScript): quick sort added
  algorithms/JavaScript/README.md
  algorithms/JavaScript/src/index.js
  algorithms/JavaScript/src/sorting/quick-sort.js
Labels: JavaScript

#266 chore(Java): add fold-linked-list
  algorithms/Java/README.md
  algorithms/Java/linked-lists/fold-linked-list.java
Labels: Java

#275 enh: jump search in C and C++
  algorithms/C/README.md
  algorithms/C/searching/Jump-search.c
  algorithms/CPlusPlus/Searching/jump-search.cpp
Labels: C, C++

#269 chore(C): Add bubble sorting for C language
  algorithms/C/README.md
  algorithms/C/sorting/bubble-sort.c
Labels: C

#274 chore(Python): added ternary_search
  algorithms/Python/README.md
  algorithms/Python/searching/ternary_search.py
Labels: Python
