Repository MakeContributions/DSA, pull requests merged in 2021-07, with the labels that each got.

#353 enh(CPlusPlus): circular linked lists
  algorithms/CPlusPlus/Linked-Lists/circular.cpp
Labels: C++

#376 chore(C): add binary search tree
  algorithms/C/README.md
  algorithms/C/tree/binary-search-tree.c
Labels: C

#379 chore(C): add avl tree
  algorithms/C/README.md
  algorithms/C/tree/avl-tree.c
Labels: C

#381 chore(CPlusPlus): topological sort on graphs
  algorithms/CPlusPlus/Graphs/topological-sort.cpp
  algorithms/CPlusPlus/README.md
Labels: C++

#380 enh(CPlusPlus): balanced-parenthesis
  algorithms/CPlusPlus/Stacks/balanced-parenthesis.cpp
Labels: C++

#382 chore(CPlusPlus): added wave-sort
  algorithms/CPlusPlus/README.md
  algorithms/CPlusPlus/Sorting/wave-sort.cpp
Labels: C++

#386 chore(C): add min and max heap
  algorithms/C/README.md
  algorithms/C/tree/max-heap.c
  algorithms/C/tree/min-heap.c
Labels: C

#393 chore(CSharp): added linear search algorithm
  algorithms/CSharp/Algorithms.sln
  algorithms/CSharp/README.md
  algorithms/CSharp/src/Search/linear-search.cs
  algorithms/CSharp/test/Search/linear-search.cs
Labels: C#

#394 chore(CPlusPlus): added tower of hanoi in recursion
  algorithms/CPlusPlus/README.md
  algorithms/CPlusPlus/Recursion/towerofHanoi.cpp
Labels: C++

#399 chore(C): add selection sort
  algorithms/C/README.md
  algorithms/C/sorting/selection-sort.c
Labels: C

#403 chore(Rust): add merge sort
  algorithms/Rust/README.md
  algorithms/Rust/sorting/merge-sort/.gitignore
  algorithms/Rust/sorting/merge-sort/Cargo.toml
  algorithms/Rust/sorting/merge-sort/README.md
  algorithms/Rust/sorting/merge-sort/src/main.rs
Labels: Rust
