Repository MakeContributions/DSA, pull requests merged in 2021-08, with the labels that each got.

#404 chore(CPlusPlus): add 0/1 Knapsack problem to Dynamic Programming
  algorithms/CPlusPlus/Dynamic-Programming/01-knapsack.cpp
  algorithms/CPlusPlus/README.md
Labels: C++

#407 chore(Java): added anagram
  algorithms/Java/README.md
  algorithms/Java/strings/anagram.java
Labels: Java

#409 chore(CPlusPlus): add quick-select
  algorithms/CPlusPlus/Arrays/quick-select.cpp
  algorithms/CPlusPlus/README.md
Labels: C++

#389 chore(CPlusPlus): adding longest common substring
  algorithms/CPlusPlus/Dynamic-Programming/longest-common-substring.cpp
  algorithms/CPlusPlus/README.md
Labels: C++

#410 chore(CPlusPlus): add Matrix Chain Multiplication to Dynamic Programming
  algorithms/CPlusPlus/Dynamic-Programming/matrix-chain-multiplication.cpp
  algorithms/CPlusPlus/README.md
Labels: C++

#411 docs: add Japanese explanations
  README.md
  docs/ja/CONTRIBUTING.md
  docs/ja/README.md
  docs/ja/Strings/Palindrome.md
Labels: documentation

#414 feat: add lebeler
  .github/labeler.yml
  .github/workflows/label.yml
  algorithms/CSharp/src/Strings/palindrome.cs
Labels: C#

#413 chore: add recursion factorial C++ and Python
  algorithms/CPlusPlus/README.md
  algorithms/CPlusPlus/Recursion/factorial.cpp
  algorithms/Python/README.md
  algorithms/Python/recursion/factorial.py
Labels: C++, Python

#416 chore(CPlusPlus): added remove-duplicates
  algorithms/CPlusPlus/Arrays/remove-duplicates.cpp
  algorithms/CPlusPlus/README.md
Labels: C++

#415 chore(Python): added 0/1 knapsack problem
  .github/workflows/labeler.yml
  algorithms/Go/README.md
  algorithms/Python/README.md
  algorithms/Python/dynamic_programming/knapsack.py
Labels: Python

#424 chore: update languages index and add knapsack on Python
  algorithms/C/README.md
  algorithms/CPlusPlus/README.md
  algorithms/Go/README.md
  algorithms/JavaScript/README.md
  algorithms/Python/README.md
Labels: documentation, Python

#433 enh(CPlusPlus): insertion at end
  algorithms/CPlusPlus/Linked-Lists/singly.cpp
Labels: C++

#438 docs: added insertion sort
  docs/en/README.md
  docs/en/Sorting/Insertion-Sort.md
Labels: documentation

#434 enh(CPlusPlus): Binary Search Tree and Iterative Traversal
  algorithms/CPlusPlus/Trees/binary-search-tree.cpp
  algorithms/CPlusPlus/Trees/pre-in-post-traversal.cpp
Labels: C++
