Repository MakeContributions/DSA, pull requests merged in 2021-11, with the labels that each got.

#619 chore(CPlusPlus): add longest common prefix and first unique character
  algorithms/CPlusPlus/README.md
  algorithms/CPlusPlus/Strings/first-unique-character.cpp
  algorithms/CPlusPlus/Strings/longest-common-prefix.cpp
Labels: C++, hacktoberfest-accepted, hacktoberfest

#587 chore(Python): add count-sort
  algorithms/Python/README.md
  algorithms/Python/sorting/count-sort.py
Labels: Python, hacktoberfest-accepted, hacktoberfest

#629 enh(JavaScription): refactor doubly link list
  algorithms/JavaScript/src/linked-lists/doubly.js
Labels: JavaScript, hacktoberfest-accepted, hacktoberfest

#630 chore(CPlusPlus): add linear search for recursion and two dimension array
  algorithms/CPlusPlus/README.md
  algorithms/CPlusPlus/Recursion/linear-search.cpp
  algorithms/CPlusPlus/Searching/linear-search-in-2d.cpp
Labels: C++

#622 chore(Java): add finding min value on stack
  algorithms/Java/README.md
  algorithms/Java/stacks/Min-Stack.java
Labels: Java, hacktoberfest-accepted, hacktoberfest

#636 chore(Java): add recursion algorithms
  algorithms/Java/README.md
  algorithms/Java/recursion/Factorial.java
  algorithms/Java/recursion/array-sorted.java
  algorithms/Java/recursion/array-sum.java
  algorithms/Java/recursion/binary-search.java
  algorithms/Java/recursion/first-uppercase-letter.java
  algorithms/Java/recursion/linear-search.java
  algorithms/Java/recursion/min-max-in-array.java
  algorithms/Java/recursion/print-n.java
  algorithms/Java/recursion/print-pi.java
  algorithms/Java/recursion/reverse-string.java
  algorithms/Java/recursion/string-length.java
Labels: Java

#641 chore(Java): add random node in linked list
  algorithms/Java/Maths/algorithms_random_node.java
  algorithms/Java/README.md
Labels: Java
