Repository MakeContributions/DSA, pull requests merged in 2021-01, with the labels that each got.

#6 Reformatted directory tree patch
  .gitignore
  searching/README.md
  searching/c-or-cpp/binary-search.cpp
  searching/c-or-cpp/linear-search.cpp
  searching/python/binary-search.py
  searching/python/linear-search.py
  sorting/README.md
  sorting/c-or-cpp/bubble-sort.cpp
  sorting/python/bubble-sort.py
  strings/README.md
  strings/c-or-cpp/Palindrome.c
Labels: enhancement

#11 docs: add contribution-guidelines
  README.md
Labels: documentation

#13 docs: add relative path for index
  searching/README.md
  sorting/README.md
  strings/README.md
Labels: documentation, enhancement

#15 feat(strings): Add Palindrome Checker for JavaScript
  strings/README.md
  strings/js/palindrome.js
Labels: enhancement

#16 Add bubble sort JavaScript version
  sorting/README.md
  sorting/js/bubble-sort.js
Labels: enhancement

#14 feat(strings): add is palindrome example for C#
  strings/README.md
  strings/csharp/palindrome.cs
Labels: enhancement

#17 feat(sorting): add csharp examples
  sorting/README.md
  sorting/csharp/bubble-sort.cs
  sorting/csharp/insertion-sort.cs
  sorting/csharp/selection-sort.cs
Labels: enhancement

#18 Add java code for linear search
  searching/README.md
  searching/java/linear-search.java
Labels: enhancement

#19 Add Linear Search JavaScript Version
  searching/README.md
  searching/js/linear-search.js
Labels: enhancement

#21 Binary search add
  searching/README.md
  searching/java/binary-search.java
Labels: enhancement

#22 Added Insertion and Selection sort to the python folders.
  sorting/README.md
  sorting/python/insertion-sort.py
  sorting/python/selection-sort.py
Labels: enhancement, question

#26 Add sorting java
  sorting/README.md
  sorting/java/bubble-sort.java
  sorting/java/insertion-sort.java
  sorting/java/selection-sort.java
Labels: enhancement

#28 Add palindrome
  strings/README.md
  strings/java/paindrome.java
Labels: enhancement

#29 Add jump search py
  searching/README.md
  searching/python/jump-search.py
Labels: enhancement

#32 Separate the string such that no groups will have same letters
  strings/java/SplitString.java
Labels: enhancement

#31 add binary search in js
  searching/README.md
  searching/js/binary-search.js
Labels: enhancement

#33 Added selection sort algorithm in javascript
  sorting/js/selection-sort.js
Labels: enhancement

#37 Added insertion sort algorithm in js and updated README
  sorting/README.md
  sorting/js/insertion-sort.js
Labels: enhancement

#42 added merge sort in java
  sorting/README.md
  sorting/java/merge-sort.java
Labels: enhancement

#41 improved insertion sort with function style
  sorting/js/insertion-sort.js
Labels: enhancement

#35 Quick Sort In Python
  sorting/README.md
  sorting/python/quick-sort.py
Labels: enhancement

#36 Multiplication Algorithms - Karatsuba Multiplication Added in Python and CPP
  multiplication/README.md
  multiplication/c-or-cpp/karatsuba.cpp
  multiplication/python/karatsuba.py
Labels: enhancement

#45 [Docs] Add how to make your First Contributions
  CONTRIBUTING.md
  README.md
Labels: documentation, enhancement

#43 Added binary-search.js
  searching/js/binary-search.js
Labels: enhancement

#46 ADD - binary-search-recursive
  searching/README.md
  searching/js/binary-search-recursive.js
Labels: enhancement

#50 Added QuickSort in java
  sorting/README.md
  sorting/java/quick-sort.java
Labels: Java, enhancement

#44 Data Structures
  .gitignore
  linked-lists/README.md
  linked-lists/c-or-cpp/SinglyLinkedList.cpp
Labels: C++, enhancement

#48 added quick sort
  sorting/README.md
  sorting/c-or-cpp/merge-sort.c
  sorting/c-or-cpp/quick-sort.cpp
  sorting/c-or-cpp/selection-sort.cpp
Labels: C, C++, enhancement

#52 improved selection sort with function style for reusability
  sorting/js/selection-sort.js
Labels: JavaScript, enhancement

#54 added heap sort in cpp
  sorting/README.md
  sorting/c-or-cpp/heap-sort.cpp
Labels: C++, enhancement
