Repository MakeContributions/DSA, pull requests merged in 2021-05, with the labels that each got.

#279 docs: fix typo
  algorithms/CPlusPlus/README.md
Labels: documentation, enhancement

#280 chore(C & CPP): Ternary Search
  algorithms/C/README.md
  algorithms/C/searching/Ternary-search.c
  algorithms/CPlusPlus/README.md
  algorithms/CPlusPlus/Searching/Ternary-search.cpp
Labels: C, C++

#281 chore(Java): add Celebrity Problem and Sliding Window Maximum
  algorithms/Java/README.md
  algorithms/Java/stacks/celebrity-problem.java
  algorithms/Java/stacks/sliding-window-maximum.java
Labels: Java

#278 chore(Go): maximum subarray sum
  .gitignore
  algorithms/Go/README.md
  algorithms/Go/arrays/maximum-subarray-sum.go
  algorithms/Go/arrays/maximum_subarray_sum_test.go
  algorithms/Go/arrays/two-sum.go
  algorithms/Go/arrays/two_sum_test.go
Labels: Go

#285 chore(C): add Heap-sort
  algorithms/C/README.md
  algorithms/C/sorting/heap-sort.c
Labels: C

#273 enh(Go): binary-search
  algorithms/Go/searching/binary-search.go
Labels: Go, Inactive

#290 enh(CPlusPlus): heap-sort
  algorithms/CPlusPlus/Sorting/heap-sort.cpp
Labels: C++, enhancement

#283 chore(CPlusPlus): create reverse-array.cpp
  algorithms/CPlusPlus/Arrays/reverse-array.cpp
  algorithms/CPlusPlus/README.md
Labels: C++

#297 chore(CPlusPlus): add binary search tree
  algorithms/CPlusPlus/README.md
  algorithms/CPlusPlus/Trees/binary-search-tree.cpp
Labels: C++

#295 chore(CPlusPlus): created prime-check
  algorithms/CPlusPlus/Maths/prime-check.cpp
  algorithms/CPlusPlus/README.md
Labels: C++

#293 chore(C): add linear search
  algorithms/C/searching/linearsearch.c
Labels: C

#299 chore(Javascript): add doubly linked-list
  algorithms/JavaScript/README.md
  algorithms/JavaScript/src/linked-lists/doubly.js
Labels: JavaScript

#302 enh(CPlusPlus): bubble-sort
  algorithms/CPlusPlus/Sorting/bubble-sort.cpp
Labels: C++

#307 chore(CSharp): adding binary-search
  algorithms/CSharp/README.md
  algorithms/CSharp/src/Search/binary-search.cs
  algorithms/CSharp/test/Search/binary-search.cs
Labels: C#

#298 chore(Python): create heap-sort
  algorithms/Python/README.md
  algorithms/Python/sorting/heap-sort.py
Labels: Python

#308 chore(CPlusPlus): add binary insertion sort
  algorithms/CPlusPlus/README.md
  algorithms/CPlusPlus/Sorting/binary-insertion-sort.cpp
Labels: C++

#305 chore(java): left view of a tree
  algorithms/Java/README.md
  algorithms/Java/trees/left-view.java
Labels: Java

#310 chore(Python): add sankalp arrays
  algorithms/Python/README.md
  algorithms/Python/arrays/majority_element.py
  algorithms/Python/arrays/missing_number.py
  algorithms/Python/arrays/rotate_array.py
Labels: Python

#303 chore(CPlusPlus): add prime-sieve algorithm
  algorithms/CPlusPlus/Maths/prime-sieve.cpp
  algorithms/CPlusPlus/README.md
Labels: C++

#312 chore(Python): add remove duplicate and first non-repeating character string
  algorithms/Python/README.md
  algorithms/Python/strings/first_non_repeating_character.py
  algorithms/Python/strings/remove_duplicates_from_a_string.py
Labels: Python

#315 chore(Java): Right view of tree
  algorithms/Java/README.md
  algorithms/Java/trees/right-view.java
Labels: Java

#316 chore(CPlusPlus): add search sorted rotated
  algorithms/CPlusPlus/Arrays/search-sorted-rotated.cpp
  algorithms/CPlusPlus/README.md
Labels: C++

#318 enh(CPlusPlus): add functions to binary-search-tree
  algorithms/CPlusPlus/Trees/binary-search-tree.cpp
Labels: C++, enhancement

#317 chore(CPlusPlus): add in order binary tree Morris traversal
  algorithms/CPlusPlus/README.md
  algorithms/CPlusPlus/Trees/in-order-morris-traversal.cpp
Labels: C++

#319 chore(Java): Zig-Zag Traversal of a Tree
  algorithms/Java/README.md
  algorithms/Java/trees/zig-zag-traversal.java
Labels: Java

#320 chore(CPlusPlus): add in-order predecessor and successor for bst
  algorithms/CPlusPlus/README.md
  algorithms/CPlusPlus/Trees/in-order-predecessor-and-successor.cpp
Labels: C++

#321 enh(Java): more optimized way of bubble-sort
  algorithms/Java/sorting/bubble-sort.java
Labels: Java, enhancement

#322 chore(Python): longest common subsequence
  algorithms/Python/README.md
  algorithms/Python/strings/longest_common_subsequence.py
Labels: Python

#324 chore(CPlusPlus): created merge-sort
  algorithms/CPlusPlus/README.md
  algorithms/CPlusPlus/Sorting/merge-sort.cpp
Labels: C++

#323 chore(CPlusPlus): add avl tree
  algorithms/CPlusPlus/README.md
  algorithms/CPlusPlus/Trees/avl.cpp
Labels: C++

#327 chore(Python): add fibonacci algorithms
  algorithms/Python/README.md
  algorithms/Python/dynamic_programming/fibonacci_series.py
  algorithms/Python/dynamic_programming/fibonacci_series_nth_term.py
  algorithms/Python/dynamic_programming/fibonacci_series_sum.py
Labels: Python

#328 chore(Python): added radix sort program
  algorithms/Python/README.md
  algorithms/Python/sorting/radix_sort.py
Labels: Python
