Repository MakeContributions/DSA, pull requests merged in 2022-01, with the labels that each got.

#655 chore(C): add stacks arrays and linked list
  algorithms/C/README.md
  algorithms/C/stacks/stack-using-arrays.c
  algorithms/C/stacks/stack-using-linked-list.c
Labels: C

#659 chore(Java): add random node in a binary tree
  algorithms/Java/README.md
  algorithms/Java/trees/tree-random-node.java
Labels: Java

#662 enh(Python): rename from FactorialNonRecursion to factorial_nonrecursion
  algorithms/Python/recursion/factorial.py
Labels: enhancement, Python

#664 chore(Python): rename n-th_fibonacci_number.py to nth_fibonacci_number.py
  algorithms/Python/README.md
  algorithms/Python/recursion/n-th_fibonacci_number.py
  algorithms/Python/recursion/nth_fibonacci_number.py
Labels: enhancement, Python

#660 chore(CSharp): add NaisMith rule
  algorithms/CSharp/README.md
  algorithms/CSharp/src/Maths/naismith-rule.cs
  algorithms/CSharp/test/Maths/naismith-rule.cs
Labels: C#

#665 enh(Python): binary tree
  algorithms/Python/README.md
  algorithms/Python/trees/binary_search_tree.py
  algorithms/Python/trees/binary_tree.py
Labels: enhancement, Python

#669 enh(Python): rename from insertionSort_rec to insertion_sort_rec
  algorithms/Python/recursion/recursive_insertion_sort.py
Labels: enhancement, Python

#667 enh(CPlusPlus): add missing space to power-of-two maths
  algorithms/CPlusPlus/Maths/power-of-two.cpp
Labels: enhancement, C++

#666 chore(C): add fibonacci series
  algorithms/C/README.md
  algorithms/C/maths/fibonacci-series.c
Labels: C

#540 chore(Java): added fibonacci using matrix exponentiation
  algorithms/Java/Maths/Nth_Fibonacci.java
  algorithms/Java/README.md
Labels: Java, hacktoberfest-accepted, hacktoberfest

#631 chore(CPlusPlus): add max and min average
  algorithms/CPlusPlus/Arrays/max-min-avg.cpp
  algorithms/CPlusPlus/README.md
Labels: C++

#673 enh(CPlusPlus): fix indent stock span problem
  algorithms/CPlusPlus/Stacks/stock-span-problem.cpp
Labels: enhancement, C++

#670 enh(Python): rename from karatsuba.py to karatsuba_algorithm.py
  algorithms/Python/README.md
  algorithms/Python/multiplication/karatsuba.py
  algorithms/Python/multiplication/karatsuba_algorithm.py
Labels: enhancement, Python

#681 chore(C): add tower of Hanoi using recursion
  algorithms/C/README.md
  algorithms/C/recursion/tower-of-hanoi.c
Labels: C
