Repository MakeContributions/DSA, pull requests merged in 2022-08, with the labels that each got.

#778 chore(C): add sieve-of-eratosthenes
  algorithms/C/README.md
  algorithms/C/arrays/sieve-of-eratosthenes.c
Labels: C

#793 docs(Spanish): add quick sort
  README.md
  docs/es/CONTRIBUTING.md
  docs/es/Ordenamiento/Quick-Sort.md
  docs/es/README.md
Labels: documentation

#794 chore(C): add fibonacci algorithm
  algorithms/C/README.md
  algorithms/C/maths/fibonacci-number/.gitignore
  algorithms/C/maths/fibonacci-number/Makefile
  algorithms/C/maths/fibonacci-number/README.md
  algorithms/C/maths/fibonacci-number/src/fib.c
  algorithms/C/maths/fibonacci-number/src/fib.h
  algorithms/C/maths/fibonacci-number/src/main.c
Labels: C

#789 chore(CPlusPlus): add reverse number algorithm
  algorithms/C/maths/fibonacci-number/src/fib.c
  algorithms/C/maths/fibonacci-number/src/fib.h
  algorithms/C/maths/fibonacci-number/src/main.c
  algorithms/CPlusPlus/README.md
  algorithms/CPlusPlus/Recursion/reverse-a-number.cpp
Labels: C++

#798 chore(CSharp): add quick sort
  algorithms/CSharp/README.md
  algorithms/CSharp/src/Sorts/quick-sort.cs
  algorithms/CSharp/test/Sorts/quick-sort.cs
Labels: C#

#799 docs(en): add cycle sort
  docs/en/README.md
  docs/en/Sorting/Cycle-Sort.md
Labels: documentation

#797 chore(Python) : add GCD using recursion following Euclid's Algorithm
  algorithms/Python/README.md
  algorithms/Python/recursion/gcd_using_recursion.py
Labels: Python

#802 chore(Python) : add prime number check
  algorithms/Python/README.md
  algorithms/Python/number_theory/prime_number.py
Labels: Python

#807 enh(CPlusPlus): update comment of binary search
  algorithms/CPlusPlus/Searching/binary-search.cpp
Labels: enhancement, C++

#809 docs(Python): add missing space on README
  algorithms/Python/README.md
Labels: documentation, enhancement

#813 docs(en): add doubly linked list
  docs/en/Lists/doubly-linked-list.md
  docs/en/README.md
Labels: documentation

#819 docs(Spanish): add merge sort
  docs/es/Ordenamiento/Merge-Sort.md
  docs/es/README.md
Labels: documentation

#820 chore(Go): add selection sort
  algorithms/Go/README.md
  algorithms/Go/sorting/selection-sort.go
Labels: Go

#791 chore(CPlusPlus): add Floyd Warshall algorithm
  algorithms/CPlusPlus/Graphs/floyd-warshall.cpp
  algorithms/CPlusPlus/README.md
Labels: C++
