Repository MakeContributions/DSA, pull requests merged in 2022-11, with the labels that each got.

#1084 chore(Python): add roman number to int
  algorithms/Python/README.md
  algorithms/Python/strings/roman-to-int.py
Labels: Python

#1050 chore(CPlusPlus): add find words matching pattern dictionary
  algorithms/CPlusPlus/README.md
  algorithms/CPlusPlus/Trie/find_all_words_matching_pattern_in_given_dictionary.cpp
Labels: C++

#1087 docs: fix grammar and punctuation errors
  CONTRIBUTING.md
  README.md
  docs/en/Searching/Binary-Search.MD
Labels: documentation
