Repository MakeContributions/DSA, pull requests merged in 2022-05, with the labels that each got.

#756 chore(Javascript): add factorial recursion
  algorithms/JavaScript/README.md
  algorithms/JavaScript/src/index.js
  algorithms/JavaScript/src/recursion/factorial.js
Labels: JavaScript

#757 docs(CSharp): grammar enhancement
  algorithms/CSharp/README.md
Labels: C#

#760 chore(Python): add Breadth First Search for a graph
  algorithms/Python/README.md
  algorithms/Python/graphs/bfs-sequence.py
Labels: Python
