Repository MakeContributions/DSA, pull requests merged in 2022-10, with the labels that each got.

#901 fix(spell) : roman-numerals.java
  algorithms/Java/Maths/roman-numerals.java
Labels: Java

#897 chore(JavaScript): add min heap
  algorithms/JavaScript/README.md
  algorithms/JavaScript/src/heaps/min-heap.js
Labels: JavaScript, hacktoberfest

#853 chore(CPlusPlus): add sliding windows
  algorithms/CPlusPlus/README.md
  algorithms/CPlusPlus/Strings/sliding-window.cpp
Labels: C++, hacktoberfest

#876 chore(CPlusPlus): add even odd algorithm
  algorithms/CPlusPlus/Maths/Check-Even_Odd.cpp
Labels: C++, hacktoberfest

#868 enh(en): documentation in bubble sort
  docs/en/Sorting/Bubble-Sort.md
Labels: documentation, hacktoberfest

#862 chore(CPlusPlus): add detecting a cycle in a graph
  algorithms/CPlusPlus/Graphs/detecting-cycle-in-a-graph-using-three-color-mechanism.cpp
  algorithms/CPlusPlus/README.md
Labels: C++, hacktoberfest

#863 chore(JavaScript): add trie implementations algorithm
  algorithms/JavaScript/README.md
  algorithms/JavaScript/src/trie/trie-implementation.js
Labels: JavaScript, hacktoberfest

#942 chore(CPlusPlus) : add reverse linked list
  algorithms/CPlusPlus/Linked-Lists/reverse-the-list-using-stack.cpp
  algorithms/CPlusPlus/README.md
  algorithms/Python/recursion/recursive-sum-of-n-numbers.py
Labels: C++, hacktoberfest-accepted

#872 chore(Java): add permutation sequences
  algorithms/Java/Maths/permutation_sequence.java
  algorithms/Java/README.md
Labels: Java

#946 chore(CPlusPlus): add redundant parenthesis
  algorithms/CPlusPlus/README.md
  algorithms/CPlusPlus/Stacks/redundant-parenthesis.cpp
Labels: C++

#953 chore(Javascript): add graph algorithm
  algorithms/JavaScript/README.md
  algorithms/JavaScript/src/graph/breadth-first-search.js
  algorithms/JavaScript/src/graph/depth-first-search.js
  algorithms/JavaScript/src/index.js
Labels: JavaScript

#969 chore(Javascript): single occurring element among duplicates
  algorithms/JavaScript/README.md
  algorithms/JavaScript/src/arrays/single-occurring-element.js
  algorithms/JavaScript/src/index.js
Labels: JavaScript

#1007 docs(en): order the section alphabetically
  docs/en/README.md
Labels: documentation, enhancement

#936 chore(Python): add max sub array sum
  algorithms/Python/README.md
  algorithms/Python/arrays/max_sub_array_sum.py
Labels: Python

#930 chore(CPlusPlus): add balanced parenthesis problem
  algorithms/CPlusPlus/Arrays/balanced-parenthesis.cpp
  algorithms/CPlusPlus/README.md
Labels: C++

#985 chore(CPlusPlus): add rod cutting problem
  algorithms/CPlusPlus/Dynamic-Programming/rod-cutting.cpp
  algorithms/CPlusPlus/README.md
Labels: C++

#1006 chore(CPlusCPlus): add trie algorithms
  algorithms/CPlusPlus/README.md
  algorithms/CPlusPlus/Trie/trie_delete.cpp
  algorithms/CPlusPlus/Trie/trie_insert_search_startWith.cpp
Labels: C++

#1040 chore(codespell): upgrade Github action
  .github/workflows/codespell.yml
Labels: enhancement

#848 chore(Java) : add circular singly linked list
  algorithms/Java/README.md
  algorithms/Java/linked-lists/circular-singly-linkedlist.java
Labels: Java

#1022 chore(Python): add cycle detection and removal in linkedlist
  algorithms/Python/README.md
  algorithms/Python/linked_lists/cycle-detection-and-removal-linkedlist.py
Labels: Python

#1031 chore(JavaScript): add two sum
  algorithms/JavaScript/README.md
  algorithms/JavaScript/src/arrays/two-sum.js
Labels: JavaScript

#1061 enh(CPlusPlus): memory usage on Dijksta algorithm
  algorithms/CPlusPlus/Graphs/dijkstra.cpp
Labels: bug, C++

#1048 chore(CPlusPlus): add special index in an array
  algorithms/CPlusPlus/Arrays/specialindex2.cpp
  algorithms/CPlusPlus/README.md
Labels: C++
