Repository MakeContributions/DSA, pull requests merged in 2022-02, with the labels that each got.

#678 chore(C): add shell sort
  algorithms/C/README.md
  algorithms/C/sorting/shell-sort.c
Labels: C

#685 chore(Python): add Levenshtein distance
  algorithms/Python/README.md
  algorithms/Python/dynamic_programming/levenshtein_distance.py
Labels: Python

#687 chore(Java): add target-sum-subsets problem
  algorithms/Java/backtracking/target-sum-subsets.java
Labels: Java

#697 docs: add Português language
  README.md
  docs/pt/CONTRIBUTING.md
  docs/pt/Procura/Pesquisa-Binaria.md
  docs/pt/README.md
  docs/pt/Strings/Palindrome.md
Labels: documentation

#674 chore(CPlusPlus): add prefix to postfix stacks
  algorithms/CPlusPlus/README.md
  algorithms/CPlusPlus/Stacks/prefix_to_postfix.cpp
Labels: C++

#691 chore(Python): add first in first out queue
  algorithms/Python/README.md
  algorithms/Python/queues/fifo-queue.py
Labels: Python

#700 enh(Python): add insert end function on singly linked list
  algorithms/Python/linked_lists/singly.py
Labels: enhancement, Python

#705 chore(C): add largestElement in array
  algorithms/C/README.md
  algorithms/C/arrays/largestElement.c
Labels: C

#703 chore(CPlusPlus): add fibonacci
  algorithms/CPlusPlus/Dynamic-Programming/fibonacci.cpp
  algorithms/CPlusPlus/README.md
Labels: C++

#706 docs(Japanese): add bubble sort
  docs/ja/README.md
  docs/ja/Sorting/Bubble-Sort.md
Labels: documentation

#689 chore(CPlusPlus): add sum of right leaves in binary tree
  algorithms/CPlusPlus/README.md
  algorithms/CPlusPlus/Trees/sum-of-right-leaves.cpp
Labels: C++
