Repository MakeContributions/DSA, pull requests merged in 2022-07, with the labels that each got.

#771 docs(ja): add insertion sort
  docs/ja/README.md
  docs/ja/Sorting/Insertion-Sort.md
Labels: documentation

#770 chore(Python): add sum of n numbers using recursion
  algorithms/Python/README.md
  recursive-sum-of-n-numbers.py
Labels: Python

#775 chore(Python): add depth first search
  algorithms/Python/README.md
  algorithms/Python/graphs/depth-first-search.py
Labels: Python

#777 enh(CPlusPlus): add binary search
  algorithms/CPlusPlus/Searching/binary-search.cpp
Labels: enhancement, C++

#776 enh(Java): add comments for binary search
  algorithms/Java/searching/binary-search.java
Labels: enhancement, Java
